@charset "UTF-8";

/* 回答はここに書いてね */

.clearfix:after {
  display: block;
  content: "";
  clear: both;
}

.outline {
  width: 900px;
  height: 480px;
  background-color: #eff3f4;
  padding: 20px;
  margin: 0 auto;
}

.article {
  height: 240px;
}

.article_text {
  font-size: 18px;
  line-height: 22px;
  word-break: break-all;
}

.balloon_photo {
  float: left;
  margin-right: 20px;
  margin-bottom: 10px;
}

.festival_photo {
  float: right;
  margin-left: 20px;
  margin-bottom: 10px;
}

/* 回答はここに書いてね */


/* 個人メモ（作成手順とポイント）

①大枠のグレー部分を作成（outline）
②上下の記事を分離（article）
③textを指定、word-break: break-all;で改行設定（幅いっぱいで改行）
④各写真をfloat、marginで指定

*floatを使用する為、clearfixは必須
*/