@charset "UTF-8";

/* 回答はここに書いてね */

.clearfix:after {
  display: block;
  content: "";
  clear: both;
}

.outline {
  width: 940px;
  height: 450px;
  background-color: #eff3f4;
  padding: 20px;
  margin: 0 auto;
}

.outline_contents {
  width: 230px;
  height: 410px;
  background-color: #3274ae;
  float: left;
  padding: 20px;
  margin-left: 20px;
}

.outline_contents:first-child {
  margin-left: 0;
}

.outline_contents_box {
  width: 170px;
  height: 350px;
  background-color: #eaf4ff;
  border: solid 10px #022336;
  padding: 20px;
}

.article_text {
  font-size: 16px;
  line-height: 16px;
}

/* 回答はここに書いてね */


/* 個人メモ（作成手順とポイント）

①大枠のグレー四角を用意（outline）
②中へブルー四角を３つfloatで横並び（outline_contents）
③中へ黒ボーダーのtextをいれるboxを用意
④中へtextを指定

*floatを使用する為、clearfixは必須
*/