@charset "UTF-8";

/* 回答はここに書いてね */

.clearfix:after {
  display: block;
  content: "";
  clear: both;
}

.float_contents {
  width: 225px;
  font-size: 16px;
  float: left;
  box-sizing: border-box;
  margin-left: 50px;
}

.float_contents:first-child {
  margin-left: 0;
}


.table_inner {
  display: table;
}

.table_contents {
  width: 225px;
  display: table-cell;
  vertical-align: middle;
  padding-left: 50px;
}

.table_contents:first-child {
  padding-left: 0;
}

.table_contents_text {
  font-size: 16px;
}


.inline_inner {
  font-size: 0;
}

.inline_contents {
  width: 225px;
  font-size: 16px;
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  margin-left: 50px;
}

.inline_contents:first-child {
  margin-left: 0;
}


.flex_inner {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.flex_contents {
  width: 225px;
  font-size: 16px;
  box-sizing: border-box;
}


.margin_inner {
  font-size: 0;
}

.margin_box {
  width: 225px;
  vertical-align: top;
}

.fixed_contents {
  width: 300px;
  display: inline-block;
}

.variable_contents {
  width: 100%;
  display: inline-block;
  box-sizing: border-box;
  margin-left: -300px;
  padding-left: 350px;
}

.margin_text {
  font-size: 16px;
}

/* 回答はここに書いてね */


/* 個人メモ（作成手順とポイント）

『float』
①box-sizingを指定する（しないと崩れる）
②floatはclearfixを付ける！

『table』
①table-cellで横並び
②vertical-align: middle;＝縦軸を中央へ

『inline-block』
①font-sizeを０にする（しないとズレる）
②inline-blockで横並び
③vertical-alignで中央へ

『flex』
①flex box参照

『inline-blockとmargin』
①font-sizeを０にする（しないとズレる）
②vertical-alignで上へ
③inline-blockで横並び
④固定コンテンツは決め打ち
⑤可変コンテンツは全体から固定分を差し引く

*/