@charset "UTF-8";

/* 回答はここに書いてね */

.q4_frame {
  padding: 20px;
  box-sizing: border-box;
  background-color: #ECF1F2;
}

.q4_frame_contents {
  width: 100%;
  display: table;
  margin-top: 20px;
}

.q4_frame_contents:first-child {
  margin-top: 0;
}

.contents_box {
  display: table-cell;
  padding: 20px 0;
  text-align: center;
}

.skin_bar {
  width: 100px;
  background-color: #fdc8b8;
}

.purple_bar {
  background-color: #e0abd9;
}

.blue_bar {
  width: 100px;
  background-color: #b6d8ed;
}

.yellow_bar {
  background-color: #e5d32e;
}

.red_bar {
  background-color: #ec8f9a;
}

.green_bar {
  width: 500px;
  background-color: #8fdcad;
}

/* 回答はここに書いてね */


/* 個人メモ（作成手順とポイント）

①paddingを指定（q4_frame）
②全体の横幅を取り、display: table;（q4_frame_contents）
③各コンテンツはdisplay: table-cell;で横並び
④固定コンテンツへのみ幅を指定

*横並び＝display: table;▶︎display: table-cell;
*/