@charset "UTF-8";

/* 回答はここに書いてね */

.q5_boxes {
  width: 500px;
  height: 500px;
  position: relative;
  margin: 0 auto;
  background-color: #ECF1F2;
}

.q5_box {
  width: 100px;
  line-height: 100px;
  position: absolute;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
}

.number-1 {
  z-index: 1;
  top: 40px;
  left: 200px;
  background-color: #FFEFD3;
}

.number-2 {
  z-index: 2;
  top: 120px;
  right: 120px;
  background-color: #7084DE;
}

.number-3 {
  z-index: 3;
  top: 200px;
  right: 40px;
  background-color: #D0ECEA;
}
.number-4 {
  z-index: 4;
  top: 280px;
  right: 120px;
  background-color: #8B7A5E;
}

.number-5 {
  z-index: 5;
  top: 360px;
  left: 200px;
  background-color: #9FD6D2;
}

.number-6 {
  z-index: 6;
  top: 280px;
  left: 120px;
  background-color: #FFFEE4;
}

.number-7 {
  z-index: 7;
  top: 200px;
  left: 40px;
  background-color: #DEAE70;
}

.number-8 {
  z-index: 8;
  top: 120px;
  left: 120px;
  background-color: #DE70CF;
}

.number-8::after {
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
  background-color: #FFEFD3;
  content: "";
}

.number-9 {
  position: fixed;
  top: 10px;
  left: 10px;
  background-color: #2B69A3;
}

/* 回答はここに書いてね */


/* 個人メモ（作成手順とポイント）

①大枠の箱を作成（q5_boxes）
②全ての箱に共通するものをまとめる（q5_box）
③z-index: 1;=番号順に重なるようになる
④８番に１番が重なるよう重複箇所を１番の色で上塗り
⑤position: fixed;で決め打ち（number-9）

*z-indexで番号を重ねる
*８番と１番の重なり関係
*/