@charset "UTF-8";

/* 回答はここに書いてね */

.table_frame {
  width: 100%;
  table-layout: fixed;
  line-height: 26px;
}

.table_frame th, td {
  padding: 10px;
  border: 1px solid #dedede;
}

.table_frame th {
  background-color: #2244aa;
  color: #FFF;
  font-size: 18px;
}

.table_frame td {
  text-align: center;
}

.table_frame tbody tr:nth-child(even) {
  background-color: #ECF1F2;
}

.table_frame tbody tr:last-child {
  border-top: 2px dashed #000;
}

/* 回答はここに書いてね */


/* 個人メモ（作成手順とポイント）

①table-layout: fixed;で均等配列（table_frame）
②日付と各項目、タイトル関係（th）
③数値やデータ（td）
④(even)=偶数、(odd)=奇数
⑤dashed=点々の線

*『tr』=行、『th・td』=セル
*/