@charset "UTF-8";

/* 回答はここに書いてね */

.table_frame {
  width: 100%;
  table-layout: fixed;
  border: 1px solid #dedede;
  line-height: 26px;
}

.table_frame th {
  background-color: #2244aa;
  color: #FFF;
  border: 1px solid #dedede;
  padding: 10px;
  font-size: 18px;
}

.table_frame td {
  border: 1px solid #dedede;
  padding: 10px;
  text-align: center;
}

.table_frame > tbody > tr:nth-child(odd) {
  background-color: #ECF1F2;
}

.table_frame > tbody > tr:last-child {
  border-top: 2px dashed #000;
}

/* 回答はここに書いてね */

