@charset "UTF-8";

/* 回答はここに書いてね */

.text-align_frame {
  text-align: center;
}

.text-align_box {
  width: 90px;
  padding: 10px 0;
  background-color: #E6F2FF;
  display: inline-block;
}


.margin_box {
  width: 90px;
  padding: 10px 0;
  text-align: center;
  margin: 0 auto;
  background-color: #E6F2FF;
}


.q6_table {
  display: table;
}

.table_box {
  display: table-cell;
  background-color: #ECF1F2;
  text-align: center;
  vertical-align: middle;
}

.table_text {
  display: inline-block;
  padding: 10px;
  background-color: #FFF;
}


.flex_box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex_text {
  padding: 10px;
  background-color: #FFF;
}


.q6--position .q6__box {
  position: relative;
}

.q6__box.is-stable .q6__box__inner {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.q6__box.is-flexible .q6__box__inner {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}

/* 回答はここに書いてね */


/* 個人メモ（作成手順とポイント）

①
②
③
④
⑤
*/