@charset "UTF-8";

/* 回答はここに書いてね */

.text-align_frame {
  text-align: center;
}

.box_frame {
  width: 90px;
  padding: 10px 0;
  background-color: #E6F2FF;
}

.text-align_box {
  display: inline-block;
}

.margin_box {
  text-align: center;
  margin: 0 auto;
}


.q6_table {
  display: table;
}

.table_box {
  display: table-cell;
  background-color: #ECF1F2;
  text-align: center;
  vertical-align: middle;
}

.table_text {
  display: inline-block;
  padding: 10px;
  background-color: #FFF;
}


.flex_box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex_text {
  padding: 10px;
  background-color: #FFF;
}


.q6--position .q6__box {
  position: relative;
}

.q6__box.is-stable .q6__box__inner {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.q6__box.is-flexible .q6__box__inner {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}

/* 回答はここに書いてね */


/* 個人メモ（作成手順とポイント）

『text-align』
①display: inline-block;による中央寄せ

『margin』
①margin: 0 auto;による中央寄せ（widthの指定が必要）

『table』
①display: table-cell;で上辺の中央へ移動
②vertical-align: middle;で縦軸も中央へ移動

『flex』
①flex box参照

『position固定』
①全方向の値を０にし、margin: auto;

『position可変』
①右下のボックスにおいて、『position可変』の左上角を中央へ設定
②中心同士を合わせる為、transform: translate(-50%, -50%);
*動かした50%同士
*/